* {
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Bai Jamjuree', sans-serif;
}

.wrapper {
	margin: 40px;
}

.hero {
	max-width: 1260px;
	margin: auto;
}

.hero__title {
	height: 395px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
}

.hero__heading {
	color: #00567B;
	font-size: 48px;
}

.hero__subheading {
	color: #FBB195;
	font-size: 24px;
	max-width: 475px;
	text-align: center;
}

.hero__image {
	margin: 40px 0;
	max-width: 100%;
}

.main-page__text {
	margin: auto;
	display: flex;
	align-items: center;
	height: 595px;
	color: #FBB195;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	max-width: 788px;
}

.main-page__text--highlight {
	color: #00567B;
	font-weight: bold;
}

.product__categories {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	max-width: 1260px;
	margin: auto;
}

.category-tile__container {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.category-tile--small {
	display: flex;
}

.category-tile__balls {
	justify-content: start;
	position: relative;
}

.category-tile__shorts {
	justify-content: end;
	position: relative;
}

.category-tile--small__image {
	width: 65%;
}

.category-tile__title {
	color: #00567B;
	font-weight: bold;
	font-size: 64px;

}

.category-tile__items {
	display: flex;
	flex-direction: column;
	color: #FBB195;
	font-weight: bold;
	font-size: 24px;
	margin-top: 40px;
}

.category-tile__cta {
	text-decoration: none;
	color: white;
	font-size: 26px;
	font-weight: bold;
	border-radius: 50px;
	padding: 16px 36px;
	background-color: #00567B;
	border: 0;
	margin-top: 30px;
}

.call__cta {
	text-decoration: none;
	font-size: 26px;
	font-weight: bold;
	border-radius: 50px;
	padding: 16px 36px;
	color: #FBB195;
	background-color: #00567B;
	border: 0;
	margin-top: 30px;
	position: fixed;
	right: 40px;
	bottom: 80px;
	z-index: 3;
}

.call__cta:hover {
	color: #00567B;
	background-color: #FBB195;
}

.category-tile__cta:hover {
	color: #00567B;
	background-color: white;
}

.jersey-tile {
	position: relative;
	background-color: #EFE4D1;
}

.jersey-tile__image {
	width: 100%;
	display: block;
}

.jersey-tile__text {
	position: absolute;
	top: 50px;
	left: 90px;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.balls-tile__text {
	position: absolute;
	top: 30px;
	left: 50px;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.shorts-tile__text {
	position: absolute;
	bottom: 120px;
	left: 60px;
	color: white;
}

.white {
	color: white;
}

.racket-tile {
	position: relative;
	background-color: #f6f2df;
	display: flex;
	justify-content: space-between;
}

.racket-tile__text {
	position: absolute;
	top: 50px;
	right: 90px;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.testimonials {
	margin: auto;
	max-width: 1260px;
	width: 80%;
	padding: 10vh 0;
	color: #204b45;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	gap: 30px;
	font-size: 24px;
}

.testimonials__heading {
	color: #FBB195;
	font-size: 16px;
}

.testimonial {
	font-size: 20px;
	text-align: justify;
	width: 60%;
	color: #FBB195;
	font-weight: 600;
}

.footer {
	border-top: 5px solid #00567B;
	max-width: 1260px;
	height: 595px;
	margin: 0 auto 200px auto;
	font-weight: bold;
	font-size: 36px;
	color: #00567B;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footer__text {
	font-size: 24px;
	max-width: 605px;
	text-align: left;
}

.footer__email {
	color: #FBB195;
	font-size: 36px;
}

.footer__number {
	font-size: 36px;
}



@media only screen and (max-width: 600px) {

	.hero {
		max-width: 100%;
	}

	.hero__title {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.hero__heading {
		font-size: 32px;
	}

	.hero__subheading {
		max-width: 70%;
		font-size: 16px;
	}

	.hero__image__container {
		width: 100%;
		height: 350px;
	}

	.hero__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}

	.main-page__text {
		max-width: 95%;
		padding: 30px;
		height: 400px;
	}

	.product__categories {
		gap: 20px;
		padding: 30px;
	}

	.category-tile__title {
		font-size: 36px;
	}

	.category-tile__items {
		font-size: 16px;
		margin-top: 20px;
	}

	.category-tile__cta {
		display: none;
	}



	.jersey-tile {
		height: 335px;
		width: 95%;
		margin: auto;
	}

	.jersey-tile__text {
		top: 20px;
		left: 20px;
	}

	.category-tile__container {
		flex-direction: column;
		gap: 20px;
	}

	.category-tile__shorts {
		justify-content: center;
	}

	.category-tile--small__image {
		width: 95%;
	}

	.shorts-tile__text {
		bottom: 20px;
		left: 30px;
	}

	.balls-tile__text {
		top: 20px;
		left: 30px;
	}

	.category-tile__balls {
		justify-content: center;
	}

	.racket-tile {
		height: 335px;
		width: 95%;
		margin: auto;
	}

	.racket-tile__text {
		right: 20px;
	}

	.category-tile__title.racket__title {
		font-size: 26px;
	}

	.footer {
		max-width: 95%;
		margin-bottom: 100px;
	}

	.footer__text {
		max-width: 80%;
		font-size: 18px;
		margin: 0 auto 0 auto;
	}

	.footer__email,
	.footer__number {
		width: 80%;
		font-size: 26px;
		margin: 0 auto;
		text-align: left;
	}
}