* {
	margin: 0;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Bai Jamjuree', sans-serif;
}

.wrapper {
	margin: 40px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	padding: 40px;
	max-width: 1260px;
	margin: auto;
}

.navbar__logo {
	max-width: 50px;
}

.navbar__links {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar__link {
	text-decoration: none;
	font-size: 16px;
	color: #00567B;
	font-weight: 600;
}

.navbar__cta {
	text-decoration: none;
	width: 130px;
	color: #00567B;
	font-weight: bold;
	border: 3px solid #00567B;
	text-align: center;
	padding: 12px 12px;
	box-shadow: -5px 5px  #00567B;
}

.navbar__cta:hover {
	color: white;
	background-color: #00567B;
	box-shadow: -5px 5px  #00567B;
	border: 3px solid white;
}

.hero {
	max-width: 1260px;
	margin: auto;
}

.hero__title {
	height: 395px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
}

.hero__heading {
	color: #00567B;
	font-size: 48px;
}

.hero__subheading {
	color: #FBB195;
	font-size: 24px;
	max-width: 475px;
	text-align: center;
}

.hero__image {
	margin: 40px 0;
	max-width: 100%;
}

.main-page__text {
	margin: auto;
	display: flex;
	align-items: center;
	height: 595px;
	color: #FBB195;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	max-width: 788px;
}

.main-page__text--highlight {
	color: #00567B;
}

.product__categories {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	max-width: 1260px;
	margin: auto;
}

.category-tile__container {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.category-tile--small {
	display: flex;
}

.category-tile__balls {
	justify-content: start;
	position: relative;
}

.category-tile__shorts {
	justify-content: end;
	position: relative;
}

.category-tile--small__image {
	width: 95%;
}

.category-tile__title {
	color: #00567B;
	font-weight: bold;
	font-size: 64px;

}

.category-tile__items {
	display: flex;
	flex-direction: column;
	color: #FBB195;
	font-weight: bold;
	font-size: 24px;
	margin-top: 40px;
}

.category-tile__cta {
	text-decoration: none;
	color: white;
	font-size: 26px;
	font-weight: bold;
	border-radius: 50px;
	padding: 16px 36px;
	background-color: #00567B;
	border: 0;
	margin-top: 30px;
}

.category-tile__cta:hover {
	color: #00567B;
	background-color: white;
}

.jersey-tile {
	position: relative;
	background-color: #EFE4D1;
}

.jersey-tile__image {
	width: 100%;
	display: block;
}

.jersey-tile__text {
	position: absolute;
	top: 50px;
	left: 90px;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.balls-tile__text {
	position: absolute;
	top: 30px;
	left: 50px;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.shorts-tile__text {
	position: absolute;
	bottom: 120px;
	left: 60px;
	color: white;
}

.white {
	color: white;
}

.racket-tile {
	position: relative;
	background-color: #f6f2df;
	display: flex;
	justify-content: space-between;
}

.racket-tile__text {
	position: absolute;
	top: 50px;
	right: 90px;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.footer {
	border-top: 5px solid #00567B;
	max-width: 1260px;
	height: 595px;
	margin: 0 auto 200px auto;
	font-weight: bold;
	font-size: 36px;
	color: #00567B;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footer__text {
	font-size: 24px;
	max-width: 605px;
	text-align: left;
}

.footer__email {
	color: #FBB195;
	font-size: 36px;
}

.footer__number {
	font-size: 36px;
}